<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <!-- display message -->
    <% if(message){ %>
        <p>
            Message: <%= message %>
        </p>
        <% } %>

            <h2>Reset Password :</h2>
            <form action="/user/reset-password?token=<%= token %>" method="POST">
                <div>
                    <label>New Password </label>
                    <br />
                    <input type="text" name="passwordBaru" placeholder="Password 1" />
                </div>

                <br />

                <div>
                    <label>Confirm New Password </label>
                    <br />
                    <input type="text" name="passwordBaru2" placeholder="Password 2" />
                </div>

                <br />

                <input type="submit" />
            </form>
</body>

</html>
