<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pemesanan Tiket</h1>
    <form action="/user/pesan" method="POST">

        <div>
            <label>Nama </label>
            <input type="text" name="username" placeholder="Nama Anda" required />
        </div>

        <br>
        <div>
            <label>Email </label>
            <input type="text" name="email" placeholder="Your email" required />
        </div>

        <br />
        <div>
            <label>Asal:</label>
            <select name="asal">
                <option value="jakarta">Jakarta</option>
                <option value="bandung">Bandung</option>
                <option value="surabaya">Surabaya</option>
                <option value="palembang">Palembang</option>
            </select>
        </div>
        <br>

        <div>
            <label>Tujuan:</label>
            <select name="tujuan">
                <option value="jakarta">Jakarta</option>
                <option value="bandung">Bandung</option>
                <option value="surabaya">Surabaya</option>
                <option value="palembang">Palembang</option>
            </select>
        </div>
        <br>
        <div>
            <label>Tgl Berangkat </label>
            <input type="date" name="berangkat" placeholder="Tgl Berangkat" required />
        </div>

        <br>
        <div>
            <label>Kereta:</label>
            <select name="kereta">
                <option value="KA Argo Bromo Anggrek">KA Argo Bromo Anggrek</option>
                <option value="KA Argo Lawu">KA Argo Lawu</option>
                <option value="KA Argo Dwipangga">KA Argo Dwipangga</option>
                <option value="KA Argo Sindoro">KA Argo Sindoro</option>
            </select>
        </div>
        <br>
        <input type="submit" />
    </form>
    
</body>
</html>