<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>
        Halo <%= user.username %>, kamu sudah berhasil pesan tiket.
    </h3>


    <b>silahkan <a href="http://localhost:3000/user/bayar">klik</a> disini untuk melakukan pembayaran</b>
</body>

</html>
